body {
  font-family: "Nunito Sans", sans-serif !important;
}
.container {
  box-sizing: border-box;
  text-align: center;
  color: darkblue;
}
.flex-container {
  display: flex;
}

.main {
  flex-wrap: wrap;
  flex-direction: row;
}

.avatar {
  border-radius: 5rem;
}

.av-xl {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 6.25rem;
}
.av-md {
  height: 6.25rem;
  width: 6.25rem;
}
.av-sm {
  height: 3.125rem;
  width: 3.125rem;
}

.av-Placeholder {
  display: flex;
  align-items: center;
  margin: 3.75rem;
}
