body {
  font-family: "Nunito Sans", sans-serif !important;
}

header {
  text-align: center;
}

.content {
  text-align: justify;
}
.ng-position {
  position: fixed;
  margin-left: 3.75rem;
}
.ng-badge {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

.ng-green {
  background-color: green;
  color: white;
  position: absolute;
}

.ng-red {
  background-color: red;
  color: white;
}

.ng-yellow {
  background-color: rgb(242, 226, 7);
  color: white;
  border-color: whitesmoke;
}

/* For Avatar with badge */

.avatar {
  border-radius: 80px;
}

.av-xl {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 6.25rem;
}
.av-md {
  height: 6.25rem;
  width: 6.25rem;
}
.av-sm {
  height: 3.125rem;
  width: 3.125rem;
}

.av-Placeholder {
  display: flex;
  align-items: center;
  margin: 3.75;
}
