* {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.ca-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 20rem;
  border: 1px solid rgb(243, 242, 242);
  border-radius: 5px;
  overflow: hidden;
  background: rgb(243, 242, 242);
}
.ca-shadow {
  box-shadow: 10px 5px 4px grey;
}
.ca-header {
  padding: 8px;
}

.ca-body {
  padding: 8px;
  background: #fff;
}

.ca-footer {
  padding: 8px;
}

.ca-img-overlay {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
}
button {
  float: right;
  border: none;
  cursor: pointer;
}

.centered {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
